#addOrderForm .checkbox.field {
	padding-top: 30px;
}
.ui.ribbon.label {
	left: calc(0rem - 1.2em);
	margin-bottom: -7px;
}
.ui.orderModal .ui.grid {
	margin-right: 0;
	margin-left: 0;
}
.ui.horizontal.segments>.segment {
	min-width: 50%;
}