#addOrderForm .checkbox.field,
#editOrderForm .checkbox.field {
	padding-top: 30px;
}
.ui.ribbon.label {
	left: calc(0rem - 1.2em);
	margin-bottom: -7px;
}
.ui.displayOrderModal .ui.grid,
.ui.editOrderModal .ui.grid {
	margin-right: 0;
	margin-left: 0;
}
.ui.horizontal.segments>.segment {
	min-width: 50%;
}
#editOrderForm {
	padding: 20px;
}
#editOrderForm .status.ui.button {
	margin-left: 10px;
    padding: 5px 15px;
}
#editOrderForm .current-status {
	margin-bottom: 15px;
}
#editOrderForm .calendar-field {
	align-self: flex-end;
}
.calendar-field input {
	width: auto;
}